@mixin fontz($size,$height) {
    font-size: $size;
    font-weight: 400;
    line-height: $height;
    letter-spacing: 0em;
    text-align: left;
  }

    .article-preview{
        width: 941px;
        height: 807px;
        background-color: #fff;
        margin-top: 26px;
        border-radius: 5px;
        box-shadow: 0px 4px 12px 0px #00000026;
        display: flex;
        justify-content: space-between;
        padding-top: 17px;
        padding-left: 19px;
        padding-right: 15px;
        padding-bottom: 24px;
        position: relative;        
        .article-info{
            display: flex;
            flex-direction: column;
            width: 75%;
            .article-header{
                display: flex;
                justify-content: start;
                align-items: center;

                .article-title{
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #1890FF;
                    margin-right: 13px;
                }
                .article-like{
                    width: 16px;
                    height: 14px;
                    &::after{
                    content: url('../../images/Like.svg');
                    background-color: #fff;
                }}
                .active{
                    &::after{
                    content: url('../../images/Like-active.svg');
                }}
                .article-like-count{
                    font-family: Inter;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0px;
                    text-align: left;
                    margin-left: 5px;

                }
            }
            .article-tag-list{
                display: flex;
                justify-content: flex-start;
                .article-tag-item{
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 15px;
                    letter-spacing: 0em;
                    text-align: center;
                    border: 1px solid #00000080;
                    border-radius: 2px;
                    margin-right: 8px;
                    padding: 2px 5px 3px;
                    margin-top: 4px;
                }
            }
            .article-content{
                @include fontz(12px,22px);
                color: #00000080;
                margin-top: 16px;
                

            }
        }
        .user-personalize{
            display: flex;
            flex-direction: column;
            .people-info{
            display: flex;
            justify-content: space-between;
            height: 46px;
            align-items: center;
            .user-name-wrapper{
                display: flex;
                flex-direction: column;
                margin-right: 12px;
                .article-author-name{
                    @include fontz(18px,28px);
                    color: #000000D9;

                }
                .article-release-date{
                    @include fontz(12px,22px);
                    color: #00000080;
                }
            }
            .article-author-image{
                width: 46px;
                height: 46px;
            }
            
        }
        .article-edit{
            margin-top: 30px;
            position: relative;
            .delete{
                @include fontz(14px,22px);
                color: #F5222D;
                background-color: #fff;
                border: 1px solid #F5222D;
                border-radius: 5px;
                padding: 6px 17px;
                cursor:pointer

        }
            .edit{
                @include fontz(14px,22px);
                color: #52C41A;
                background-color: #fff;
                border: 1px solid #52C41A;
                border-radius: 5px;
                padding: 6px 19px;
                margin-left: 12px;
                
        }
        }
       
        }
        .article-content-all{
            @include fontz(18px,28px);
            color: #000000BF;
            position: absolute;
            top: 155px;
            left: 19px;
            right: 42px;
            overflow-y: auto;

        }
        
    }
