// Обнуляющие стили
@import "NullStyle.scss";
// Стили объекта


  .main{
    background-color: #E5E5E5;
    min-height: 100vh;
    .container{
      width: 950px;
      margin-left: auto;
      margin-right: auto;
    }
  }
