.edit-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 385px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding: 48px 32px;
  margin-top: 60px;
  border-radius: 6px;

  .edit-profile-title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 9px;
  }
  .edit-profile-form {
    display: flex;
    flex-direction: column;
    border-bottom: #d9d9d9;
    .edit-profile-label {
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 2px;
      margin-top: 12px;
    }
    .edit-profile-input {
      height: 40px;
      width: 320px;
      left: 0px;
      top: 0px;
      border-radius: 4px;
      border: 1px solid #d9d9d9;
      padding: 8px 12px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: #000000bf;
    }
    .is-invalid {
      border: 1px solid #f5222d;
    }
    .registration-error {
      margin: 2px;
      p {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #f5222d;
      }
    }
    .edit-profile-send-form {
      width: 320px;
      height: 40px;
      background-color: #1890ff;
      border-radius: 4px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      color: #ffffff;
      margin-top: 21px;
    }
  }
}
