.edit-article-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  .edit-article-form-label {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 21px;
    margin-bottom: 2px;
  }
  .edit-article-form-content {
    border: 1px solid #d9d9d9;
    padding: 8px 12px;
    border-radius: 4px;
    margin-top: 2px;
  }
  .form-area {
    height: 168px;
    width: auto;
    resize: none;
  }
  .edit-article-tags-container {
    margin-top: 21px;
    position: relative;
    .edit-article-form-tag {
      width: 300px;
      height: 40px;
      box-sizing: border-box;
      margin-top: 5px;
    }
    .edit-article-tags-delete {
      border: 1px solid #f5222d;
      height: 40px;
      width: 118px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      background-color: #ffffff;
      margin-left: 17px;
      color: #f5222d;
      cursor: pointer;
      border-radius: 4px;
    }
    .disabled {
      opacity: 60%;
    }
    .edit-article-tags-add {
      position: absolute;
      border: 1px solid #1890ff;
      height: 40px;
      width: 136px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      background-color: #ffffff;
      color: #1890ff;
      cursor: pointer;
      border-radius: 4px;
      left: 460px;
      bottom: 15px;
    }
  }

  .edit-article-form-send {
    height: 40px;
    width: 319px;
    border-radius: 4px;
    background: #1890ff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin-top: 21px;
    border-radius: 4px;
  }
}
