@mixin fontz($size, $height) {
  font-size: $size;
  font-weight: 400;
  line-height: $height;
  letter-spacing: 0em;
  text-align: left;
  font-family: Roboto;
  line-height: 22px;
  letter-spacing: 0em;
}
.delete-modal {
  width: 240px;
  height: 104px;
  position: absolute;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  padding-right: 16px;
  left: 80px;
  top: 0px;
  background-color: #ffffff;
  border-radius: 4px;
  display: block;
  box-shadow: 0px 4px 12px 0px rgb(0 0 0 / 15%);
  &::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #ffffff;
    border-bottom: 7px solid transparent;
    position: absolute;
    left: -4px;
    top: 15px;
  }
  .delete-modal-title {
    color: #595959;
    // margin-left: 10px;
    @include fontz(14px, 22px);
    &::before {
      content: url('../../images/attension.svg');

      position: absolute;
      left: 17px;
      top: 13px;
    }
  }
  .delete-modal-button-block {
    display: flex;
    justify-content: flex-end;
    .delete-modal-agreement-buttom-agree {
      @include fontz(14px, 22px);
      width: 39px;
      height: 24px;
      color: #ffffff;
      background-color: #1890ff;
      border: 1px solid #1890ff;
      border-radius: 4px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-left: 8px;
    }
    .delete-modal-agreement-buttom-disagree {
      @include fontz(14px, 22px);
      width: 34px;
      height: 24px;
      color: #595959;
      background-color: #ffffff;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}
